.categories-container {
    display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      gap: 20px;
      margin: 4em 1.5em 1em;
    
  }
  .title{
 
font-weight: 400;
font-size: 42px;
line-height: 160%;
text-transform: uppercase ;
  }
  